body {
    background: #F2F3F4;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #F2F3F4;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 4px solid #F2F3F4;
}

body::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.data-table {
    max-width: 100%;
    width: 100%;
}

.data-container {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 1rem;
    height: auto;
}

.data-body {
    overflow: hidden;
    max-width: 100%;
}

.data-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px;
}

.data-options__buttons button {
    border: none;
    outline: none;
    width: 26px;
    height: 26px;
    font-size: .9rem;
    background: #e7e8ea;
    border-radius: 5px;
    position: relative;
    transition: all .3s ease;
}

.data-options__buttons button:hover {
    background: #f2f3f4;
}

.data-options__buttons button i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.data-options__buttons button i.off {
    visibility: hidden;
    opacity: 0;
}

.data-options__buttons button i.on {
    opacity: 1;
    visibility: visible;
}

.data-category {
    font-size: 1rem;
    font-weight: 600;
}

.data-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 16px;
    padding: 8px 16px;
    border-bottom: 2px solid #e7e8ea;
    background: #FFFFFF;
}

.data-header__index,
.data-header__price,
.data-header__name,
.data-header__percent,
.data-header__unit,
.data-header__created {
    font-size: .9rem !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, .5) !important;
}

.data-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 16px;
    min-width: 100%;
    border-radius: 5px;
    background-color: #fff;
    transition: all .2s ease-out;
}

.data-row:hover {
    background-color: #e7e8ea;
}

.data-index,
.data-name,
.data-percent,
.data-unit,
.data-created {
    font-size: .9rem;
    font-weight: 500;
}

.data-index,
.data-header__index {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
}

.data-created,
.data-header__created {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    font-weight: 600;
    text-align: end;
}

.data-name,
.data-header__name {
    min-width: 150px;
    color: #111;
    font-weight: 600;
    text-decoration: none;
    flex: 1;
    transition: all .2s ease-out;
}


.data-name:hover {
    cursor: pointer;
    color: green;
}

.data-unit {
    font-size: .7rem;
    color: #4a4a4a;
    font-weight: 600;
    text-transform: uppercase;
}

.data-percent,
.data-price,
.data-header__percent,
.data-header__price {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.data-percent__increase {
    color: green;
    font-weight: 600;
}

.data-percent__decease {
    color: red;
    font-weight: 600;
}

.button-sort {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .9rem;
    border: none !important;
    outline: none !important;
    font-size: .9rem !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, .5) !important;
    padding: 0;
    background-color: transparent;
}

.button-sort i:first-child {
    opacity: .5;
    visibility: visible;
    z-index: 1;
}

.button-sort i:nth-child(2),
.button-sort i:nth-child(3) {
    color: black !important;
    z-index: 2;
}

.button-sort i:nth-child(2).show,
.button-sort i:nth-child(3).show {
    opacity: 1;
    visibility: visible;

}

.button-sort i {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}

.data-content {
    margin-left: 326px;
}

.data-sidebar {
    margin: 1.5rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 310px;
}

.data-search {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 40px;
    padding: 5px 12px;
    margin-bottom: 1rem;
}

.data-search input {
    border: none !important;
    outline: none !important;
    font-size: .9rem;
    font-weight: 500;
    flex: 1;
    background: transparent;
}

.data-search button {
    background: transparent;
    border: none !important;
    outline: none !important;
}

.data-filter-category {
    background: #ffffff;
    padding: 12px;
    border-radius: 5px;
}

.form-filter-check-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: .5rem;
}

.form-filter-check-category:last-child {
    margin-bottom: 0;
}

.data-filter-category .form-check-input {
    box-shadow: none !important;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
}

.data-filter-category .form-check-label {
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}