body {
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

.data-table {
    max-width: 800px;
}

.data-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 24px;
    background: white;
    margin: 12px 0;
    border-radius: 6px;
}

.data-body {
}

.data-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 24px;
    background: white;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.05);
    transition: all .3s ease;
}

.data-row:hover {
    border-color: aquamarine;
}

.data-index, .data-cate, .data-name, .data-percent, .data-unit, .data-created {
    font-size: .9rem;
    font-weight: 500;
}

.data-index {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.data-created {
    width: 110px;
    min-width: 110px;
    max-width: 110px;
}

.data-cate {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.data-name {
    min-width: 150px;
    color: #111;
    font-weight: 600;
    flex: 1;
    text-decoration: none;
}

.data-name:hover {
    cursor: pointer;
    color: #111;
}

.data-unit {
    font-size: .75rem;
    color: #4a4a4a;
}

.data-percent, .data-price {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

.data-percent__increase {
    color: green;
}

.data-percent__decease {
    color: red;
}
